DJANGO_DEBUG=False
DJANGO_SECRET_KEY=fkjsdgfwejklfhjkw3h4fo4h3e89fh3489ufhbvyo34vfvob23dnlhe4fgyib7l334gihf23ndf278
DJANGO_ALLOWED_HOSTS=tweb.erpbylyomastech.com,162.0.237.222
DJANGO_CSRF_TRUSTED_ORIGINS=https://tweb.erpbylyomastech.com,http://tweb.erpbylyomastech.com
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False

DB_NAME=tweb
DB_USER=tweb
DB_PASSWORD=your-strong-db-password
DB_HOST=127.0.0.1
DB_PORT=5432
